<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.novel.dao.NOrderCustomMapper" >

    <sql id="Base_Column_List" >
      o.id, o.status,o.price,o.content,o.created,
      r.username as author
    </sql>

     <sql id="Where_Clause" >
        <where>
            o.status != 3
            <if test="nOrderQuery != null and nOrderQuery.content != null and nOrderQuery.content != '' ">
                and o.content like '%${nOrderQuery.content}%'
            </if>
            <if test="nOrderQuery != null and nOrderQuery.status != null and nOrderQuery.status != 0 ">
                and o.status = #{nOrderQuery.status}
            </if>
        </where>
     </sql>
    <select id="countOrders" resultType="_int">
    select count(1)
    from n_order o
        <include refid="Where_Clause"/>
    </select>

    <select id="listOrdersByPage" resultType="com.qf.novel.pojo.vo.NOrderCustom">
    SELECT
    <include refid="Base_Column_List" />
    FROM n_order o
     LEFT JOIN n_reader r ON o.rid = r.id
        <include refid="Where_Clause"/>
    order by o.created
    LIMIT #{page.offset},#{page.rows}
    </select>
    </mapper>
